html, body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #222;

  display: -webkit-flex;
  display: flex;

  -webkit-align-items: center;
  align-items: center;

  -webkit-justify-content: center;
  justify-content: center;
}
